Data contents:

UF, Tipo de doença, Local de óbito, Faixa etária, Sexo

In [56]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
path_2019 = "..\data\obitos-2019.csv"
path_2020 = "..\data\obitos-2020.csv"
path_2021 = "..\data\obitos-2021.csv"
path_2022 = "..\data\obitos-2022.csv"

In [15]:
data_2019 = pd.read_csv(path_2019)
data_2020 = pd.read_csv(path_2020)
data_2021 = pd.read_csv(path_2021)
data_2022 = pd.read_csv(path_2022)


print(f"data_2019 has {data_2019.shape[0]} rows and {data_2019.shape[1]} columns.")
print(f"data_2020 has {data_2020.shape[0]} rows and {data_2020.shape[1]} columns.")
print(f"data_2021 has {data_2021.shape[0]} rows and {data_2021.shape[1]} columns.")
print(f"data_2022 has {data_2022.shape[0]} rows and {data_2022.shape[1]} columns.")

data_2019 has 12628 rows and 6 columns.
data_2020 has 15417 rows and 6 columns.
data_2021 has 15435 rows and 6 columns.
data_2022 has 13604 rows and 6 columns.

In [16]:
data_2019.head()

   uf tipo_doenca local_obito faixa_etaria sexo  total
0  AC      OUTRAS   DOMICILIO          < 9    F      8
1  AC      OUTRAS   DOMICILIO          < 9    M     16
2  AC      OUTRAS    HOSPITAL          < 9    F     47
3  AC      OUTRAS    HOSPITAL          < 9    M     70
4  AC      OUTRAS    IGNORADO          < 9    M      1

In [17]:
data_2020.head()

   uf tipo_doenca local_obito faixa_etaria sexo  total
0  AC      OUTRAS   DOMICILIO          < 9    F      7
1  AC      OUTRAS   DOMICILIO          < 9    M     11
2  AC      OUTRAS    HOSPITAL          < 9    F     65
3  AC      OUTRAS    HOSPITAL          < 9    I      1
4  AC      OUTRAS    HOSPITAL          < 9    M     67

In [18]:
data_2021.head()

   uf tipo_doenca local_obito faixa_etaria sexo  total
0  AC      OUTRAS   DOMICILIO          < 9    F     11
1  AC      OUTRAS   DOMICILIO          < 9    M     21
2  AC      OUTRAS    HOSPITAL          < 9    F     63
3  AC      OUTRAS    HOSPITAL          < 9    I      4
4  AC      OUTRAS    HOSPITAL          < 9    M     57

In [64]:
data_2022.sample(5)

                               total
uf tipo_doenca
AC INDETERMINADA                  39
   INSUFICIENCIA_RESPIRATORIA    219
   OUTRAS                       2064
   PNEUMONIA                     899
   SEPTICEMIA                    421
...                              ...
TO INSUFICIENCIA_RESPIRATORIA    468
   OUTRAS                       3222
   PNEUMONIA                     916
   SEPTICEMIA                    526
   SRAG                            8

[163 rows x 1 columns]

In [45]:
# Cheking if the number of states is correct
print(len(data_2019["uf"].unique()), len(data_2020["uf"].unique()), len(data_2021["uf"].unique()), len(data_2022["uf"].unique()))

27 27 27 27

In [25]:
# checking the types of diseases
print(data_2019["tipo_doenca"].unique(), data_2020["tipo_doenca"].unique(), data_2021["tipo_doenca"].unique(), data_2022["tipo_doenca"].unique())

['OUTRAS' 'INDETERMINADA' 'INSUFICIENCIA_RESPIRATORIA' 'PNEUMONIA'
 'SEPTICEMIA' 'SRAG' 'COVID'] ['OUTRAS' 'COVID' 'INDETERMINADA' 'INSUFICIENCIA_RESPIRATORIA' 'PNEUMONIA'
 'SEPTICEMIA' 'SRAG'] ['OUTRAS' 'COVID' 'INDETERMINADA' 'INSUFICIENCIA_RESPIRATORIA' 'PNEUMONIA'
 'SEPTICEMIA' 'SRAG'] ['OUTRAS' 'COVID' 'INDETERMINADA' 'INSUFICIENCIA_RESPIRATORIA' 'PNEUMONIA'
 'SEPTICEMIA' 'SRAG']

In [65]:
def comparative_chart(state, cause):
    total_deaths_2019 = data_2019.groupby(['uf', 'tipo_doenca']).sum()
    total_deaths_2020 = data_2020.groupby(['uf', 'tipo_doenca']).sum()
    total_deaths_2021 = data_2021.groupby(['uf', 'tipo_doenca']).sum()
    total_deaths_2022 = data_2022.groupby(['uf', 'tipo_doenca']).sum()
    list_cause = [int(total_deaths_2019.loc[cause]), int(total_deaths_2020.loc[cause]), int(total_deaths_2021.loc[cause]), int(total_deaths_2022.loc[cause])]
    data_list = pd.DataFrame({'Total': list_cause,
                              'Year': [2019, 2020, 2021, 2022]})

    plt.figure(figsize=(8, 6))
    sns.barplot(x = 'Year', y = 'Total', data = data_list)
    plt.title(f'Deaths by {cause} in {state}')
    plt.show()

comparative_chart("CE", "COVID")

KeyError: 'COVID'

In [67]:
data_2022.groupby(['uf', 'tipo_doenca']).sum()

                               total
uf tipo_doenca
AC COVID                         166
   INDETERMINADA                  25
   INSUFICIENCIA_RESPIRATORIA    159
   OUTRAS                       1511
   PNEUMONIA                     546
...                              ...
TO INSUFICIENCIA_RESPIRATORIA    314
   OUTRAS                       2428
   PNEUMONIA                     722
   SEPTICEMIA                    478
   SRAG                           29

[188 rows x 1 columns]